#p_texto1{
    text-align: center;
    margin-bottom: 2em;
}
#p_texto2{
    text-align: center;
}
#Texto1{
    text-align: justify;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    width: 80%;
}
#texto2{
    text-align: justify;
    float: right;
    font-size: 200%;
    width: 80%;
}
#imagen1{
    float: right;
    width: 20%;
}
#imagen2{
    float: left;
    width: 20%;
}

#separacion{
    clear: both;
}